---
import BaseLayout from '../layouts/BaseLayout.astro';
import profileImg from '../assets/images/blog1.jpg';

const pageTitle = 'About me';

const aboutInfo = {
  name: 'Noora Nasrin VC',
  age: 24,
  job: 'Developer',
  place: 'Kerala',
  company: 'ABC',
  experience: 3,
};

const skills = ['html', 'css', 'js', 'react', 'node js', 'redux'];

const aboutColor = 'green';
const skillColor = 'tomato';
const fontWeight = 'bold';
---

<BaseLayout pageTitle={pageTitle} heading={pageTitle}>
  <div class='profileImg'>
    <img src={profileImg} height='300' width='300' />
    <p>
      I'm <b>{aboutInfo.name}</b> and I am a <b>{aboutInfo.job}</b> @{
        aboutInfo.company
      }. I'm a passionate
      {aboutInfo.job} with <b>{aboutInfo.experience}+</b> years of experience in
      programming. I'm from <b>{aboutInfo.place}</b>. I'm a curious learner and
      excellent team player. My main skills are around <b>Javascript</b> echosystem
      which includes
      {skills.map(skill => <span class='skill'>{skill},</span>)}<span
        class='skill'>etc..</span
      >
    </p>
  </div>
</BaseLayout>

<style define:vars={{ skillColor, aboutColor, fontWeight }}>
  p {
    text-align: left;
  }

  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    margin-left: 2px;
  }

  .profileImg {
    margin: 0 auto;
    text-align: center;
    width: 50vw;
  }

  .profileImg img {
    border-radius: 50%;
  }
</style>
